---
import ProjectCard from "../ui/cards/ProjectCard.astro";
import Sacbe from "../logos/Sacbe.astro";
import Logo from "../logos/Logo.astro";
---

<section class="flex flex-col items-center gap-8">
  <div class="">
    <h2 class="text-center text-[#c2c6da] text-4xl font-bold mb-2">Projects</h2>
    <div
      class="w-24 h-1 bg-gradient-to-r from-orange-400 to-yellow-400 mx-auto rounded-full"
    >
    </div>
  </div>

  <div class="flex flex-col gap-3 sm:grid sm:grid-cols-2 sm:gap-5">
    <ProjectCard
      title="TicTacToe Game"
      text="A classic turn-based game built with React, Tailwind CSS, and Framer Motion, featuring smooth animations, user turn tracking, and a clean responsive UI. Designed for fun and fast matches with modern frontend technologies."
      url="https://tictactoe.koxland.dev/"
    >
      <Logo title="TicTacToe Game" src="tictactoe" />
    </ProjectCard>

    <ProjectCard
      title="Planet Facts App"
      text="A responsive web app built with React and Tailwind CSS, featuring smooth animations and fun, bite-sized facts about each planet in the solar system. Designed to be visually engaging and educational across all devices."
      url="https://planetfacts.koxland.dev/"
    >
      <Logo title="Planet Facts" src="planet" />
    </ProjectCard>

    <ProjectCard
      title="KoxNotes"
      text="KoxNotes is a responsive note-taking web app built with Next.js, Tailwind CSS, and Firebase. It features Google authentication, Firestore persistence, dark/light theme toggle, tagging, archiving, deletion, and real-time search, offering a fast, modern, and organized writing experience."
      url="https://koxnotes.koxland.dev/"
    >
      <Logo title="KoxNotes" src="Feather" />
    </ProjectCard>

    <ProjectCard
      title="KX-Chat"
      text="KoxChat is a modern, responsive chat application built with React, Firebase, and Tailwind CSS. It features secure user authentication, unique usernames, real-time user search, and a clean, intuitive UI."
      url="https://kxchat.koxland.dev/"
    >
      <Logo title="KX Chat" src="kxchat" />
    </ProjectCard>

    <ProjectCard
      title="Sacbe Coupon Generator"
      text="A responsive React and Tailwind-based web app that displays promotional coupons from an external API. Users can view offers by region, access detailed coupon information, and generate passes compatible with Apple Wallet and Google Wallet through dynamic endpoint integration."
      url="https://coupons.koxland.dev/"
    >
      <Sacbe />
    </ProjectCard>

    <ProjectCard
      title="Tetris Game"
      text="A Tetris game built with Vanilla JavaScript and Tailwind CSS, featuring real-time keyboard controls, smooth piece movement, line-clearing mechanics, score and timer tracking, sound effects, and a retro-inspired UI designed for fluid gameplay across desktop and mobile devices."
      url="https://tetris.koxland.dev/"
    >
      <Logo title="Tetris Game" src="tetris" />
    </ProjectCard>
  </div>
</section>
