---
import ProjectCard from "../ui/cards/ProjectCard.astro";
import KoxNotes from "../logos/KoxNotes.astro";
import Shuttle from "../logos/Shuttle.astro";
import KoxChat from "../logos/KXChat.astro";
import Sacbe from "../logos/Sacbe.astro";
---

<section class="flex flex-col items-center gap-8">
  <div class="flex items-center justify-center w-full">
    <h2 class="text-center text-[#c2c6da] text-3xl font-semibold">Projects</h2>
  </div>

  <div class="flex flex-col gap-3">
    <ProjectCard
      title="KoxNotes"
      text="KoxNotes is a modern and responsive note-taking application built with Next.js, Firebase Authentication, and Tailwind CSS."
      url="https://koxnotes.koxland.dev/"
    >
      <KoxNotes />
    </ProjectCard>

    <ProjectCard
      title="KX-Chat"
      text="KoxChat is a modern, responsive chat application built with React, Firebase, and Tailwind CSS. It features secure user authentication, unique usernames, real-time user search, and a clean, intuitive UI."
      url="https://kxchat.koxland.dev/"
    >
      <KoxChat />
    </ProjectCard>

    <!-- <ProjectCard
      title="Los Cabos Group Transportation"
      text="A booking platform for group and event transportation in Los Cabos, offering airport transfers with bilingual drivers, modern vehicles, and 24/7 support."
      url="https://cabo-airport-shuttle.com/transportation-for-groups-and-events"
    >
      <Shuttle />
    </ProjectCard> -->

    <ProjectCard
      title="Sacbe Coupon Generator"
      text="A responsive React and Tailwind-based web app that displays promotional coupons from an external API. Users can view offers by region, access detailed coupon information, and generate passes compatible with Apple Wallet and Google Wallet through dynamic endpoint integration."
      url="https://coupons.koxland.dev/"
    >
      <Sacbe />
    </ProjectCard>
  </div>
</section>
