<section class="flex flex-col items-center gap-8 w-full">
  <div class="">
    <h2 class="text-center text-[#c2c6da] text-4xl font-bold mb-2">Stack</h2>
    <div
      class="w-24 h-1 bg-gradient-to-r from-orange-400 to-yellow-400 mx-auto rounded-full"
    >
    </div>
  </div>

  <ul class="flex w-full flex-wrap justify-center gap-5">
    <li
      style="--icon-url: url('/html.png');"
      class="relative group glow-card hover-glow-orange icon border-orange-300 p-1 bg-orange-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-orange-400 border-orange-300 bg-orange-500/10"
        >HTML</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/css.png');"
      class="relative group glow-card hover-glow-blue icon border-blue-300 p-1 bg-blue-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-blue-400 border-blue-300 bg-blue-500/10"
        >CSS</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/js.png');"
      class="relative group glow-card hover-glow-yellow icon border-yellow-300 p-1 bg-yellow-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-yellow-400 border-yellow-300 bg-yellow-500/10"
        >JavaScript</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/tailwind.png');"
      class="relative group glow-card hover-glow-blue icon border-blue-300 p-1 bg-blue-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-blue-400 border-blue-300 bg-blue-500/10"
        >Tailwind</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/react.png');"
      class="relative group glow-card hover-glow-cyan icon border-cyan-300 p-1 bg-cyan-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-cyan-400 border-cyan-300 bg-cyan-500/10"
        >React</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/next.png');"
      class="relative group glow-card hover-glow-white icon border-gray-300 p-1 bg-gray-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-gray-300 border-gray-300 bg-gray-500/10"
        >Next.js</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/astro.png');"
      class="relative group glow-card hover-glow-purple icon border-purple-300 p-1 bg-purple-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-purple-400 border-purple-300 bg-purple-500/10"
        >Astro</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/firebase.png');"
      class="relative group glow-card hover-glow-red icon border-red-300 p-1 bg-red-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-red-400 border-red-300 bg-red-500/10"
        >Firebase</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/figma.png');"
      class="relative group glow-card hover-glow-green icon border-green-300 p-1 bg-green-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-green-400 border-green-300 bg-green-500/10"
        >Figma</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/git.png');"
      class="relative group glow-card hover-glow-orange icon border-orange-300 p-1 bg-orange-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-orange-400 border-orange-300 bg-orange-500/10"
        >Git</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/linux.png');"
      class="relative group glow-card hover-glow-white icon border-gray-300 p-1 bg-gray-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-gray-300 border-gray-300 bg-gray-500/10"
        >Linux</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/vscode.png');"
      class="relative group glow-card hover-glow-indigo icon border-indigo-300 p-1 bg-indigo-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-indigo-400 border-indigo-300 bg-indigo-500/10"
        >VS Code</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/gulp.png');"
      class="relative group glow-card hover-glow-pink icon border-pink-300 p-1 bg-pink-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-pink-400 border-pink-300 bg-pink-500/10"
        >Gulp</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/vite.png');"
      class="relative group glow-card hover-glow-yellow icon border-yellow-300 p-1 bg-yellow-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-yellow-400 border-yellow-300 bg-yellow-500/10"
        >Vite</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/npm.png');"
      class="relative group glow-card hover-glow-orange icon border-orange-300 p-1 bg-orange-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-orange-400 border-orange-300 bg-orange-500/10"
        >NPM</span
      >
      <span></span>
    </li>
    <li
      style="--icon-url: url('/sass.png');"
      class="relative group glow-card hover-glow-rose icon border-rose-300 p-1 bg-rose-500/10 backdrop-blur-md flex flex-col items-center gap-2 rounded-2xl"
    >
      <span class="tooltip text-rose-400 border-rose-300 bg-rose-500/10"
        >Sass</span
      >
      <span></span>
    </li>
  </ul>
</section>
