---
import Layout from '../layouts/Layout.astro';
import SocialLinks from '../components/ui/social/SocialLinks';
import ExperienceCard from '../components/sections/ExperienceCard.astro';
import Projects from '../components/sections/Projects.astro';
import Stack from '../components/sections/Stack.astro';
import Home from '../components/sections/Home.astro';
---

<Layout>
  <div
    class="w-full h-full max-w-[calc(100%-5em)] flex flex-col items-center justify-center gap-20 pb-16 pt-10"
  >
    <Home />
    <ExperienceCard />
    <Projects />
    <Stack />
  </div>
</Layout>
