---
const { title, src, font, size = '50' } = Astro.props;
---

<div class="flex items-center gap-3">
  <img
    class={`md:w-[125px] md:mt-2 mt-1 w-[110px]`}
    src={`/${src}.png`}
    alt="blue feather icon"
  />
  <p class={`whitespace-nowrap font-[${font}] text-center text-4xl`}>
    {title}
  </p>
</div>
