---
const { title, src } = Astro.props;
---

<div class="flex items-center gap-3">
  <img
    class="max-w-[50px] sm:max-w-auto"
    src={`/${src}.png`}
    alt="blue feather icon"
  />
  <p class="whitespace-nowrap font-[Pacifico] text-center text-4xl">{title}</p>
</div>
