---
const { url = "", title = "", text, component, development } = Astro.props;
---

<a
  id={title.toLowerCase().replace(/\s+/g, "-")}
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="group relative gap-4 grid grid-rows-[auto_1fr_auto] items-center justify-center max-w-xl w-full p-5
    border sm:border-neutral-500 border-orange-400 sm:hover:border-orange-400 rounded-2xl
    text-sm text-neutral-200 leading-relaxed text-left bg-white/10 overflow-hidden transition-all duration-500 ease-in-out
    transform hover:scale-[1.02] hover:shadow-[0_0_30px_rgba(251,146,60,0.3)]"
>
  <span
    class="absolute w-2 h-2 bg-orange-400 rounded-full animate-spark opacity-100 z-20 sm:hidden sm:group-hover:block"
  ></span>

  <div class="flex flex-col items-center justify-center gap-1">
    <div class="flex items-center justify-center gap-2">
      <h2 class="text-2xl text-center font-semibold text-orange-400">
        {title}
      </h2>
      <img class="w-6" src="/ExternalIcon.png" alt="External Icon" />
    </div>
    {
      development && (
        <p class="text-center text-sm text-slate-400">(Under Development)</p>
      )
    }
  </div>

  <div class="text-center">
    {text}
  </div>
  <div class="flex justify-center">
    <slot />
  </div>
</a>
